<!DOCTYPE html>
<html>
<head>
	<title>Mybrary</title>
	 <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.jpg" />
</head>
<body>
	Before
	<br>
	<%- body %>
	<br>
	After
</body>
</html>